.dashboard {
    display: flex;
    justify-content: space-between;
}

.analysis-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.analysis-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.analysis-image {
    width: 100%;
    height: auto;
}

.analysis-title {
    background-color: #eee; /* Light grey background for the title */
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.sidebar {
    background: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    width: 400px; /* Or your preferred width */
}

.patient-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.patient-avatar {
    background: #ccc; /* Placeholder for avatar image */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.patient-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.last-visits h2 {
    margin-bottom: 10px;
}

.visit {
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.view-all {
    color: #007bff;
    text-align: right;
    cursor: pointer;
}

.homebutton {
    height: 60px;
}