.header {
    max-height: 80px;
    height: 80px;
    background-color: #FACCED;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 40px;
    box-shadow: 0 5px 5px darkgray;
}

.header a {
    font-family: "Lato-Regular", serif;
    font-weight: normal;
    font-size: 42px;
    text-decoration: none;
    color: #52424D;
}

.navbar {
    flex-grow: 1; /* Takes up the remaining space */
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 40px;
}

.profile {
    margin-right: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile p{
    font-size: 24px;
}

.logo {
    max-height: 70px;
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.imagelogo {
    max-height: 70px; /* Set the height of the image as needed */
}

.imageprofile {
    border-radius: 50%;
    height: 50px;
    max-width: 50px;
    object-fit: cover;
}

.outlet {
    padding: 2% 5%;
    height: calc(100vh - 80px);
    background: #F3EAF0;
    overflow: scroll;
}
